.barcode-container {
  width: 1200px;
  position: relative;
  left: 18%;
}

@media print {
  .all-container {
    display: none !important;
  }
  .barcode-container {
    width: 1200px;
    position: relative;
    left: 1%;
  }
}
